# THIS FILE IS EXPERIMENTAL (KYAML)
---
{ apiVersion: "v1", kind: "Namespace", metadata: { name: "iam-service" } }
---
{
  apiVersion: "apps/v1",
  kind: "Deployment",
  metadata: { name: "iam-deployment", namespace: "iam-service" },
  spec:
    {
      replicas: 2,
      selector: { matchLabels: { app: "iam" } },
      template:
        {
          metadata: { labels: { app: "iam" } },
          spec:
            {
              containers:
                [
                  {
                    name: "iam-container",
                    image: "ghcr.io/nourabuild/iam-service:latest",
                    ports: [{ containerPort: 8080 }],
                    resources:
                      {
                        requests: { memory: "128Mi", cpu: "100m" },
                        limits: { memory: "256Mi", cpu: "200m" },
                      },
                    readinessProbe:
                      {
                        httpGet:
                          { path: "/api/v1/health/readiness", port: 8080 },
                        initialDelaySeconds: 5,
                        periodSeconds: 10,
                        timeoutSeconds: 5,
                        successThreshold: 1,
                        failureThreshold: 2,
                      },
                    livenessProbe:
                      {
                        httpGet:
                          { path: "/api/v1/health/liveness", port: 8080 },
                        initialDelaySeconds: 2,
                        periodSeconds: 5,
                        timeoutSeconds: 5,
                        successThreshold: 1,
                        failureThreshold: 2,
                      },
                  },
                ],
            },
        },
    },
}
---
{
  apiVersion: "v1",
  kind: "Service",
  metadata: { name: "iam-service", namespace: "iam-service" },
  spec: { selector: { app: "iam" } },
}
